:root {
  --text-color-primary: #27282d;
  --text-color-secondary: #b2b2b2;
  --text-color-header-footer: #fbefdf;
  --bg-color-primary: #b2b2b2;
  --bg-color-secondary: #fbefdf;
  --bg-color-header-footer: #27282d;
  --accent-color: orange;
}
body {
  font-family: 'Neucha', cursive;
  font-style: normal;
  line-height: 1.5;
  font-weight: 400;
  font-size: 20px;

  background-color: var(--bg-color-primary);
  color: var(--text-color-primary);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.link {
  text-decoration: none;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  padding-right: 15px;
  padding-left: 15px;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
/*header*/
.header {
  background-color: var(--bg-color-header-footer);
  padding-top: 5px;
  padding-bottom: 5px;

  font-size: 16px;
  border-bottom: 1px solid var(--accent-color);
  color: var(--text-color-secondary);
}
.header .container {
  display: flex;
}
.navigation {
  margin-left: auto;
}
.list.navigation {
  display: flex;
}
.navigation .item + .item {
  margin-left: 20px;
}
.icon-mb {
  display: flex;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.logo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;

  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--accent-color);
  fill: var(--accent-color);
}
.logo:hover,
.logo:focus {
  color: red;
  fill: red;
  cursor: pointer;
}
.header .link {
  display: flex;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;

  border: 1px solid transparent;
  border-radius: 5px;
  fill: var(--text-color-header-footer);
  color: var(--text-color-header-footer);
}
.header .link:hover,
.header .link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}
.header .icon {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

/*hero*/
.hero {
  text-align: center;
  background-color: var(--bg-color-header-footer);
}
.hero .overlay {
  max-width: 1900px;
  height: 200px;
  margin: 0 auto;
  background: linear-gradient(
      0deg,
      rgba(15, 15, 15, 0.9),
      rgba(15, 15, 15, 0.9)
    ),
    url('../images/bg-photo2.jpg');
  background-color: var(--bg-color-header-footer);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero .title {
  display: block;
  color: var(--text-color-header-footer);
  margin-top: 0px;
  padding-top: 40px;
}
.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

/*About*/
.section.about {
  align-items: center;
}
.about .title,
.about .text {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 0;
  margin-bottom: 0;
}
.about .title {
  margin-bottom: 10px;
}
.about .text {
  text-align: justify;
}
/*example*/
.section.example {
  background-color: var(--bg-color-secondary);
}
.example .title {
  display: block;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}
.example .list {
  display: flex;
  justify-content: center;
}
.example .item {
  margin-right: 20px;
}
.example .item:last-child {
  margin-right: 0px;
}
.example .filter {
  display: inline-block;
  padding: 5px 15px;
  border: 1px solid transparent;
  border-radius: 4px;

  background-color: var(--accent-color);
  border: 1px solid var(--text-color-primary);

  cursor: pointer;
  align-items: center;
}
.example .filter:focus,
.example .filter:hover {
  border: 1px solid var(--accent-color);
}
.button .item {
  display: inline-flex;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
}
.card-set .list {
  display: flex;
  flex-wrap: wrap;
}
.card-set .item {
  text-align: center;
  margin-right: 20px;
  margin-top: 20px;
  width: calc((100% - 40px) / 3);
}
.card-set .item:nth-child(3n) {
  margin-right: 0px;
}
.card-set .photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*service*/
.service .title {
  display: block;
  text-align: center;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 20px;
}
table {
  margin: 0 auto;
}
.service .price {
  text-align: right;
}
/*footer*/
.footer {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;

  color: var(--text-color-header-footer);
  font-size: 16px;

  background-color: var(--bg-color-header-footer);
  border-top: 2px solid var(--accent-color);
}
.footer .container {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  justify-content: space-around;
}
.footer .title {
  margin-top: 0;
  margin-bottom: 10px;

  font-size: 22px;
}
.second-part .item {
  margin-top: 0;
  margin-bottom: 10px;
}
.second-part .item:last-child {
  margin-bottom: 0px;
}
.second-part .icon {
  display: flex;
  margin-right: 10px;
  height: 15px;
  width: 15px;
}
.second-part {
  display: block;
  align-items: center;

  color: var(--text-color-header-footer);
}
.second-part .link {
  display: inline-flex;
  align-items: center;

  color: var(--text-color-header-footer);
  fill: var(--bg-color-primary);
}
.second-part .link:hover,
.second-part .link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}
.footer .third-part {
  display: block;
  align-items: center;
}
.third-part .list {
  display: flex;
  justify-content: space-around;
}
.third-part .link {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border: 1px solid var(--bg-color-primary);
  border-radius: 50%;
  height: 44px;
  width: 44px;
  color: var(--text-color-secondary);
  fill: var(--bg-color-primary);
}
.third-part .link:hover,
.third-part .link:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}
.third-part .icon {
  width: 20px;
  height: 20px;
}
